.box {
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.displayWarn {
  margin: 0 auto;
  text-align: center;
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  img {
    width: 80px;
    margin-bottom: 10px;
  }
}
