.groupModal {
  background: none;

  .ant-modal-content {
    background: none;
    color: #fff;
  }

  p,
  img {
    margin: 10px auto;
    text-align: center;
  }

  img {
    width: 242px;
    height: 242px;
    border-radius: 8px;
    display: block;
  }

  .saveGroupIcon {
    text-align: right;
    img {
      vertical-align: middle;
      width: 24px;
      height: 24px;
      display: inline
    }
  }
}
