.expDetailBox {
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;

  p {
    min-height: 40px;
    line-height: 40px;
    font-size: 14px;
    white-space: wrap;
    word-break: break-all;
    padding-left: 10px;
    margin-bottom: 0;
  }

  .expDetailQuestion {
    flex: 1;
    white-space: wrap;
  }

  .expDetailCnt {
    width: 100px;
  }
}
.expDetailBoxHeader {
  height: 40px;
  background-color: #ECF3FE;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;

  p {
    font-size: 15px;
    margin-bottom: 0;
  }
}
