.refundManageContainer :global {

  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 20px;

  .qrcode {
    width: 300px;
    height: 300px;
    object-fit: contain;
  }

  @media (max-width: 768px) {

    & {
      width: 100%;
      padding: 10px;
      overflow: hidden;
    }
  }
}
